# CI/CD pipeline for AtcScraperGo with build, test, and deployment stages
stages:
# GitLab CI configuration for Go project
# GitLab CI/CD configuration for ATC scraper
# Build and test stages for AtcScraperGo
  - build
  - buildAndPush

build:
  image:
    name: docker
    entrypoint: [""]
  stage: build
  services:
    - docker:dind
  script:
    - docker build .
  only:
    variables:
      - $CI_COMMIT_BRANCH != "master"


buildAndPush:
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  stage: buildAndPush
  services:
    - docker:dind
  before_script:
    - amazon-linux-extras install docker
    - CURRENT_IMAGE_VERSION=$(aws ecr describe-images --repository-name $ECR_REPO --query 'sort_by(imageDetails,& imagePushedAt)[-1].imageTags[0]' | tr -d '"')
    - NEXT_VERSION=$(echo $CURRENT_IMAGE_VERSION 0.01 | awk '{print $1 + $2}')
  script:
    - docker build -t $AWS_ACCOUNT/$ECR_REPO:$NEXT_VERSION .
    - aws ecr get-login-password | docker login --username AWS --password-stdin $AWS_ACCOUNT
    - docker push $AWS_ACCOUNT/$ECR_REPO:$NEXT_VERSION

  only:
    - master
